/* Font EN/KH */
@import "./styles/themes/_fonts.css";
/* Main Color */
@import "./styles/themes/_colors.css";
/* Then Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles with English font by default */
@layer base {
  html {
    font-family: var(--font-english);
  }
  /* Applier font khmer to element with khmer class */
  /* this is the class */
  .khmer {
    font-family: var(--font-khmer);
  }
}
